
# Ignore specific Jupyter notebooks in the notebooks/ directory
sandbox_week3
# sandbox_week3/data/logs

# sandbox_week3/models

# Allow specific notebooks if needed (example below)
#!notebooks/EDA.ipynb






.ipynb_checkpoints/

# === OpenAI or API keys ===
openai_api_key.txt
*.key
*.token
*.secret
*.env
.env.*

# === Specific sensitive folders ===
**/ignore/
**/keys/
**/weights/
**/secrets/